.info {
	margin: 0 auto;
	width: 900px;
}
img {
	width: 400px;
	margin: 20px 0 20px 70px;
	padding: 10px;
	background-color: gray;
	border-radius: 5px;

}
h2 {
	margin-top: 30px;
	font-size: 1.6em;
}
p {
	margin-bottom: 20px;
	font-size: 1.1em;
	line-height: 25px;
	word-spacing: 0.2em;
	font-family: arial;
	font-size: 1.1em;
}